.crumbs{
  padding-left: 40%;
  color: pink;
  background-color: pink;
  
  height: 50px;
  
}

.body1{
  background-color:#F6F1E9;
}

li {
  display: inline-block;
  margin: 10px 10px 0px 10px;
  list-style: none;
  text-decoration: none;
}
.head1{
  text-align:center;
  padding-top: 100px;
  font-family: 'Arvo', serif;
  color: red;
}
.message{
  margin-left: 37%;
  font-family: 'Pridi', serif;
  text-size-adjust: 25px;
}
.container{
  border:2px solid black;
  background-image: url('https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dHJhdmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  height:700px;
  
  background-size:cover ;

}

.mb-3{
margin:0px 25px 0px 25px;

}
.mb-3{
width:25%;
}

.submit{
margin:10px 100px;
border-radius: 3%;
border: seagreen;
background-color: #FFDD83;
}

.form-label{
  color:#FEFF86;
}



.head2{
  margin-top: 2%;
  margin-left: 6%;
}


.Ladakh{
  margin-left: 6%;
  margin-top: 2%;
}

.Kashmir{
  margin-left: 19%;
  margin-top: -22.9%;
}

.Goa{
  margin-left: 32%;
  margin-top: -22.9%;
}

.Kerala{
  margin-left: 45%;
  margin-top: -22.9%;
}

.Maldives{
  margin-left: 58%;
  margin-top: -22.9%;
}

.Andaman{
  margin-left: 71%;
  margin-top: -22.9%;
}

.North-East{
  margin-left: 84%;
  margin-top: -22.9%;
}

.europe{
  margin-left: 6%;
  margin-top: 3%;
}
.thailand{
  margin-left: 21.5%;
  margin-top: -24.5%;

}

.dubai{
  margin-left: 36.5%;
  margin-top: -24.5%;
}

.Singapore{
  margin-left: 51.5%;
  margin-top: -24.5%;
}

.Australia{
  margin-left: 66.5%;
  margin-top: -24.5%;
}

.Turkey{
  margin-left: 82.5%;
  margin-top: -24.5%;

}

.footer{
  background-color: #41644A;
  width: 100%;
  height: 350px;
}
.first{
  
  width:32%;
  height:300px;
  margin-top: 20px;
}
.second{
  
  margin-left: 34%;
  margin-top: -300.5px;
  width: 32%;
  height: 300px;
}
.third{
  
  margin-left: 68%;
  margin-top: -300px;
  width: 32%;
  height: 300px;
}
h3{
  margin-top: 5%;
  margin-left:135px;
  font-family: 'Ubuntu', sans-serif;
}


.anchor{
  margin-left: 35%;
  margin-top: 5%;
  color: yellow;
}

.center1{
  
  width:40%;
  height:250px;
  margin-left: 35px;
}
.center2{
 
  width: 50%;
  margin-left: 220px;
  margin-top: -59%;
  height: 250px;
}

.thirdfooter{
  margin-left: 35%;
  
}

